[importlinter]
root_packages =
    sim
    app
include_external_packages = True

[importlinter:contract:sim_independent_from_app]
name = sim must not import app
type = forbidden
source_modules =
    sim
forbidden_modules =
    app
    app.*

[importlinter:contract:sim_independent_from_rendering]
name = sim must not import rendering modules
type = forbidden
source_modules =
    sim
forbidden_modules =
    rendering
    rendering.*
    app.rendering
    app.rendering.*

[importlinter:contract:sim_independent_from_ai]
name = sim must not import ai modules
type = forbidden
source_modules =
    sim
forbidden_modules =
    ai
    ai.*
    app.ai
    app.ai.*
